@import url(normalize.css);
@import url(colors.css);
@import url(fonts/stylesheet.css);

:root {
    --default-width: min(1400px, 100vw);
    background: var(--color-shadow);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
}

main {
    padding: .5rem 0 .5rem 0;
    flex-grow: 1;
    display: flex;
    gap: .5rem;
}

.container {
    width: 100vw;
    padding-inline: max(calc((100vw - var(--default-width)) / 2), 1rem);
}

.content { 
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: .5rem;
}

header > .content {
    border-radius: 0 0 .5rem .5rem;
}

footer > .content {
    border-radius: .5rem .5rem 0 0;
}

.h100 {
    height: 100%;
}

.m0 {
    margin: 0;
}

.grow {
    flex-grow: 1;
}